div {
    background-color: black;
    width: 6.25%;
    height: 6.25%;
    border: 1px solid white;
    box-sizing: border-box;
}

#container {
    width: 960px;
    height: 960px;
    display: flex;
    flex-wrap: wrap;
}

#reset {
    width: 100px;
    height: 40px;
}